@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", serif;
}
.swiper-pagination span {
  background: #ffffff;
}
.dark {
  @apply bg-[#171923] text-white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  z-index: 999;
  border-bottom: 1px solid #ccc;
}
.sticky a {
  color: #ffffff;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 576px) {
  .swiper-button-prev {
    margin-left: 5px;
  }

  .swiper-button-next {
    margin-right: 5px;
  }
}
/* .tr-class {
  @apply flex border rounded-xl flex-col mb-4 lg:table-row;
}
.td-class {
  @apply px-4 py-3  first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg;
} */
